# .NET build output
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio
.vs/
*.user
*.suo
*.userprefs

# Publish output
publish/
*.publishsettings

# OS / editor
Thumbs.db
Desktop.ini
*.swp
RLHub2/Resources/ChatGPT Image*.png
RLHub2/Resources/images*.jpg
RLHub2/Resources/*.webp
RLHub2/Resources/Mirage_(Counter-Strike_2).jpg
installer/Output/
